body {
    background-color: rgba(241, 181, 40, 0.692);
  }


input,
select,
textarea {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}


.control:checked ~ .conditional,
		#typeNotRelevant:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
		#typeNotRelevant:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

.control:checked ~ .conditional,
		#langOther:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
		#langOther:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			
.control:checked ~ .conditional,
		#dataSM:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
		#dataSM:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

.control:checked ~ .conditional,
		#dataOther:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
		#dataOther:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	
			
.control:checked ~ .conditional,
			#dataDomainOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: auto;
				}
	
.control:not(:checked) ~ .conditional,
			#dataDomainOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}	
			
.control:checked ~ .conditional,
			#dataDomainOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: auto;
				}
	
.control:not(:checked) ~ .conditional,
			#dataDomainOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}				
	
.control:checked ~ .conditional,
			#dataDomainMixed:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: auto;
				}
.control:not(:checked) ~ .conditional,
			#dataDomainMixed:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;						
					width: 1px;
				}						
				
.control:checked ~ .conditional,
			#resourceYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: auto;
				}
	
.control:not(:checked) ~ .conditional,
			#resourceYes:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}	

.control:checked ~ .conditional,
			#resourcesOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
						clip: auto;
						height: auto;
						margin: 0;
						overflow: visible;
						position: static;
						width: auto;
					}
		
.control:not(:checked) ~ .conditional,
			#resourcesOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
						border: 0;
						clip: rect(0 0 0 0);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute;
						width: 1px;
					}		
			

.control:checked ~ .conditional,
			#analysisFieldOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
							clip: auto;
							height: auto;
							margin: 0;
							overflow: visible;
							position: static;
							width: auto;
						}
			
.control:not(:checked) ~ .conditional,
			#analysisFieldOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
							border: 0;
							clip: rect(0 0 0 0);
							height: 1px;
							margin: -1px;
							overflow: hidden;
							padding: 0;
							position: absolute;
							width: 1px;
						}						

.control:checked ~ .conditional,
		#dataAvailYes:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
		#dataAvailYes:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

.control:checked ~ .conditional,
		#dataAvailPartly:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
.control:not(:checked) ~ .conditional,
		#dataAvailPartly:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	


.control:checked ~ .conditional,
			#experimentYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#resource:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	
.control:checked ~ .conditional,
		#resource:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
.control:not(:checked) ~ .conditional,
		#annotYes:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

.control:checked ~ .conditional,
		#AnnotSchemaYes:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
.control:not(:checked) ~ .conditional,
		#AnnotSchemaYes:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

.control:checked ~ .conditional,
			#AnnotErrAnalysis:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
.control:not(:checked) ~ .conditional,
			#AnnotErrAnalysis:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			
.control:checked ~ .conditional,
			#IAAYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
.control:not(:checked) ~ .conditional,
			#IAAYes:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

						
	.control:checked ~ .conditional,
		#AnnotResourceAvailableYes:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	.control:not(:checked) ~ .conditional,
		#AnnotResourceAvailableYes:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
	}	

		
	.control:checked ~ .conditional,
		#AnnotResourceAvailablePartly:checked ~ .conditional,
		#required-2:checked ~ .conditional
		#option-2:checked ~ .conditional {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	.control:not(:checked) ~ .conditional,
		#AnnotResourceAvailablePartly:not(:checked) ~ .conditional,
		#required-2:not(:checked) ~ .conditional,
		#option-2:not(:checked) ~ .conditional {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
	}	


.control:checked ~ .conditional,
			#theoryMFT:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#theoryMFT:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

.control:checked ~ .conditional,
			#theoryOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
			
.control:not(:checked) ~ .conditional,
			#theoryOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	
        
    
.control:checked ~ .conditional,
			#theoryOwn:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
			
.control:not(:checked) ~ .conditional,
			#theoryOwn:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

.control:checked ~ .conditional,
			#experimentYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#experimentYes:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

.control:checked ~ .conditional,
			#expTransformers:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}			
.control:not(:checked) ~ .conditional,
			#expTransformers:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

.control:checked ~ .conditional,
			#expLlm:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}			
.control:not(:checked) ~ .conditional,
			#expLlm:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	




.control:checked ~ .conditional,
			#semiML:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}			
.control:not(:checked) ~ .conditional,
			#semiML:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	
			

.control:checked ~ .conditional,
			#unsuperML:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}			
.control:not(:checked) ~ .conditional,
			#unsuperML:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	
			
			
.control:checked ~ .conditional,
			#expOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#expOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	


.control:checked ~ .conditional,
			#analysisYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#analysisYes:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

			
.control:checked ~ .conditional,
			#replicCodeYes:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto; 
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#replicCodeYes:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0); 
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}	

			
			
.control:not(:checked) ~ .conditional,
			#ExpErrAnalysis:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}				
.control:checked ~ .conditional,
			#ExpErrAnalysis:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
			
.control:not(:checked) ~ .conditional,
			#ExpErrAnalysis:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}				
.control:checked ~ .conditional,
			#ExpErrAnalysis:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

.control:not(:checked) ~ .conditional,
			#validationOther:not(:checked) ~ .conditional,
			#required-2:not(:checked) ~ .conditional,
			#option-2:not(:checked) ~ .conditional {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}				
.control:checked ~ .conditional,
			#validationOther:checked ~ .conditional,
			#required-2:checked ~ .conditional
			#option-2:checked ~ .conditional {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}

    